<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      FTMS <a href="http://ftms.herokuapp.com">a field trial management system</a>
      is a project to make life easier for field trial secrataries.
    </p>
